{% extends 'core/home.html' %}

{% block content %}
<style>
    .content-container {
        margin-top: 250px; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .content-container .content {
        text-align: left;
        max-width: 600px; /* Adjust as needed for width */
    }
</style>

<div class="container content-container ">
    <div class="content">
        <p>Welcome to Note App! This application allows you to create, edit, and manage your notes efficiently.
        Our goal is to provide a simple and intuitive platform for users to organize their thoughts and ideas.</p>
    </div>
</div>
{% endblock %}
